[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spex-common = {editable = true, path = "./../../common"}
nest-asyncio = "==1.5.4"

[dev-packages]

[requires]
python_version = "3.9"
