[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cellpose = "==0.6.5"
opencv-python = "==4.5.3.56"
scikit-image = "==0.18.1"
scikit-learn = "==0.24.2"
aicsimageio = "==3.3.7"
mxnet = "*"
pandas = "*"
spex-common = {editable = true, path = "../../common"}
stardist = "==0.7.3"
python-arango = "*"
numpy = "==1.19"
aioredis = "*"
spektral = {editable = true, path = "./spektral"}
DeepCell_Tracking = {editable = true, path = "./deepcell-tracking-0.4.5"}
DeepCell = {editable = true, path = "./DeepCell-CPU-0.10.0"}
tifffile = "*"

[dev-packages]

[requires]
python_version = "3.9"
